<h1 class="display-4">Welcome to APIBase</h1>
        <!-- Check Button -->
         <button class="btn btn-success" name="status" id="cbox">Check Status</button>       
       <!-- Check Button END-->

        <!-- SEARCH Filter -->
        <div align="right">
                  <input id="myInput" type="text" placeholder="Search API . .">
        </div>
        <!-- SEARCH Filter END -->

        
         <!-- SELECT Filter -->
         <div align="left">
            <select  id="filter" type="text">
                <option value="">Show All</option>
                <option value="Development">Development</option>
                <option value="UAT">UAT</option>
                <option value="Production">Production</option>
            </select>
         </div>
        <!-- SELECT Filter END -->    
<table class="table table-striped" name="table" id="table">
    <thead>
            
        
        <tr>
            <th>API Name</th>
            <th>URL</th>
            <th>Environment</th>
            <th class="status" style="display:none">Status</th>
        </tr>

    </thead>
    <tbody id="mytable">


        <% apis.forEach(function(api){ %>

            <tr>
                <td><%= api.title %></td>
                <td><%= api.body %></td>
                <td><%= api.environment %></td>
                
                <td class="status" style="display:none"></td>
                
                <td><button data-whatever="<%= api.body%>" class="btn btn-success" id="<%= api.id %>" data-target="#myModal" data-toggle="modal">Call</button></td>

              <div id="myModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                              <div class="modal-header">
                                <h5>API RESPONSE</h5>
                              </div>
                              <div class="modal-body embed-responsive embed-responsive-16by9">
                                  <iframe class="embed-responsive-item" ></iframe>
                              </div>
                              <div class="modal-footer">  <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">close</button></div>
                          </div>
                      </div>
                  </div>
              </td>
            </tr>
           
           
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="js/jquery-1.10.1.min.js"><\/script>')</script>
            <script>
                
            // jQuery FOR API Response
            $('#<%= api.id %>').on('click', function(e){
            e.preventDefault();
            var url = $(this).attr('data-whatever');
            $(".modal-body").html('<iframe id="myiframe" name="myiframe" width="100%" height="100%" frameborder="0" scrolling="yes" allowtransparency="true" src="'+url+'"></iframe>');
            
            $.ajax({
                url: "<%= api.body %>",
                data:{},
                complete: function(xhr, statusText){
                    alert(xhr.status)
                }
            })

            });
            // jQuery FOR API Response END
                   
            // // jQuery FOR SELECT Filter
            $(document).ready(function(){
            $("#filter").on("change", function() {
            var selectfilter = $(this).val().toLowerCase();
            $("#mytable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(selectfilter) > -1)
                  });
                });
                
              });
            // // jQuery FOR SELECT Filter END  

            // jQuery FOR SEARCH Filter
            $(document).ready(function(){
            $("#myInput").on("keyup", function() {
            var searchfilter = $(this).val().toLowerCase();
            $("#mytable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(searchfilter)> -1)
                  });
                });
              });
            // jQuery FOR SEARCH Filter END

 
            $(function () {
                var $chk = $("#cbox"); // cache the selector
                var $tbl = $("#table");
                
            
                    $chk.click(function () {          
                    var colToHide = $tbl.find("." + $(this).attr("name"));
                    $(colToHide).toggle();
                   
                    $.ajax({
                 url: "<%= api.body %>",
                 data: {},
                 complete: function(xhr, statusText){
                 if(xhr.status == 200){
                     alert("<%= api.title%> : UP")
                 }  
                 else{
                     alert("<%= api.title%> : DOWN")
                 }
                 }
                
             })
            
                });
            }); 
            
                    


                
             



            
          </script>




        <% }) %>

          
    </tbody>
</table>


